body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* pode remover background-image do body se usar .background-blur */
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/background.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 10px;
}

.container > *:not(header):not(footer):not(aside) {
    background-color: rgba(76, 60, 50, 0.85); /* Branco semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Efeito de flutuar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container > *:not(header):not(footer):not(main) {
    background-color: rgba(76, 60, 50, 0.85); /* Branco semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Efeito de flutuar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



header {
    grid-area: header;
    background: linear-gradient(
        to top,
        rgba(45, 31, 23, 0) 0%,   /* transparente */
        rgba(45, 31, 23, 1) 100% /* cor sólida */
    );
    color: white;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 20px;
    margin-left: 20px;
}

main {
    grid-area: main;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
}

footer {
    grid-area: footer;
    background: linear-gradient(
        to bottom,
        rgba(45, 31, 23, 0) 0%,   /* transparente */
        rgba(45, 31, 23, 1) 100% /* cor sólida */
    );
    color: white;
    padding: 20px;
    text-align: center;
}

.major
{
    margin: 100px;
    padding: 10px;
    background-color: black;
    transform: (0.5);
}
