body
{
    background-image: url('../Images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-blur {
    position: fixed; /* fica atrás do conteúdo e não se move */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/background.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* intensidade do blur */
    z-index: -1; /* fica atrás do conteúdo */
}