/* Regular */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

p
{
    font-family: "DMMono", monospace;
    color: rgb(238, 238, 238);
}

h1
{
    font-family: "DMMono", monospace;
    color: rgb(238, 238, 238);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../Images/background2.png);
}


