/* Regular */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: "DMMono";
    src: url("../Fonts/DMMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

p
{
    font-family: "DMMono", monospace;
    color: rgb(238, 238, 238);
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../Images/background2.png);
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/background2.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "main2 main2"
        "footer footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 80vh;
    gap: 10px;
}

header {
    grid-area: header;
    background-color: rgba(20, 20, 20, 0.85);
    font-family: "DMMOno", monospace;
    padding-left: 20px;
}

aside {
    grid-area: sidebar;
    background-color: rgba(20, 20, 20, 0.85);
    font-family: "DMMOno", monospace;
    padding-left: 20px;
}

main {
    grid-area: main;
    background-color: rgba(20, 20, 20, 0.85);
    font-family: "DMMOno", monospace;
    padding-left: 20px;
}

.main2 {
    grid-area: main2;
    background-color: rgba(20, 20, 20, 0.85);
    font-family: "DMMOno", monospace;
    padding-left: 20px;
}

footer {
    grid-area: footer;
    background-color: rgba(20, 20, 20, 0.85);
    font-family: "DMMOno", monospace;
    padding-left: 20px;
}

.major
{
    margin: 50px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0);
    transform: (0.5);
}

.elemento {
    border: 3px solid transparent;
    transition: border-color 0.2s;
}

.elemento:hover {
    border-color: #8a6aa2;
}
